html {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  margin: auto;
  text-align: center;
}
body {
  width: 1200px;
  margin: auto;
}
.main-contain {
  width: 960px;
  margin: auto;
}
header {
  display: flex;
  background-color: black;
  padding: 0.66rem 0.5rem;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1rem;
  align-items: center;
  margin: 0;
}
header img {
  height: 1.5rem;
  width: auto;
  margin: 0rem 0.5rem;
}